* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #06060e;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #06060e;
}

::-webkit-scrollbar-thumb {
  background: #1e1e2e;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2d2d44;
}
